/ServerUDP/nbproject/private/
/JavaApplication2/nbproject/private/
/ServerTCP/nbproject/private/
/ServerRest/nbproject/private/
/ServerSoap/nbproject/private/
/ClientUdp/nbproject/private/
/ClientTCP/nbproject/private/
/ClientUDP/nbproject/private/
/ClientRest/nbproject/private/
/ClientSoap/nbproject/private/