/ClientRest/nbproject/private/
/ClientSoap/nbproject/private/
/ClientTCP/nbproject/private/
/ClientUDP/nbproject/private/
/Database/nbproject/private/
/ServerRest/nbproject/private/
/ServerSoap/nbproject/private/
/ServerTCP/nbproject/private/
/ServerUDP/nbproject/private/
/Database/build/
/Database/dist/
/ServerUDP/dist/