/ClientRest/nbproject/private/
/ClientSoap/nbproject/private/
/ClientTCP/nbproject/private/
/ClientUDP/nbproject/private/
/Database/nbproject/private/
/ServerRest/nbproject/private/
/ServerSoap/nbproject/private/
/ServerTCP/nbproject/private/
/ServerUDP/nbproject/private/
/ClientRest/build/
/ClientSoap/build/
/ClientTCP/build/
/ClientUDP/build/
/Database/build/
/ServerRest/build/
/ServerSoap/build/
/ServerTCP/build/
/ServerUDP/build/
/ClientRest/dist/
/ClientSoap/dist/
/ClientTCP/dist/
/ClientUDP/dist/
/Database/dist/
/ServerRest/dist/
/ServerSoap/dist/
/ServerTCP/dist/
/ServerUDP/dist/
/WebApplication_Teste/nbproject/private/
/WebApplication_TEST/nbproject/private/
/WebApplication/nbproject/private/
/WSRest/nbproject/private/
/WSRest/build/
/WSRest/dist/